<div class="grid-container">
  <div class="grid-x grid-padding-x medium-unstack equal-height-cards">
    <div class="cell medium-4">
      <div class="card" style="width: 18rem;">
        <img src="{{recipeImage}}" class="card-img-top" alt="image of Spoonacular recipe {{recipeTitle}}">
        <div class="card-body">
          <h5 class="card-title">{{recipeTitle}}</h5>
          <p class="card-text">{{recipeNutrientsName}} Information: 
            {{recipeNutrientsAmount}} {{recipeNutrientsUnit}}</p>
          <a href="{{recipeUrl}}" class="btn btn-primary" target="_blank">Go to Spoonacular</a>
        </div>
      </div>
    </div>
  </div>
</div>