<div class="container">
  <div class="row">
    {{#each recipesReturned}}
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card equal-height-cards" style="width: 18rem;">
        <img src="{{this.image}}" class="card-img-top" alt="image of Spoonacular recipe {{this.title}}">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.nutrientsName}} : 
            {{this.nutrientsAmount}} {{this.nutrientsUnit}}</p>
          <a href="{{this.url}}" class="btn btn-primary" target="_blank">Spoonacular Recipe</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>